.the-head {
  background-color: #93c5fd;
  height: 100px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  position: fixed; /* Makes the header fixed at the top */
  top: 0; /* Align it to the top */
  left: 0; /* Align it to the left */
  width: 100%; /* Makes the header full width */
  box-shadow: 0px 4px 2px -2px gray; /* Adds a drop shadow */
  z-index: 500; /* Ensures the header is above other elements */
}

.banner{
  display: flex;
}
.my-cart {/*cart logo header.js*/ 
    color:blue;
    font-size: 24px;
    cursor: pointer;
    transition: transform 0.3s;
}

.my-cart:hover {
  transform: scale(1.14); /* Slightly enlarges the link on hover */
  text-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3); /* Adds a shadow to the text for a lifting effect */
}

.item-total {
  background-color: red; 
  position: absolute;
  left: 60px; 
  top: 20px; 
  font-size: 12px;
  width: 34px; 
  height: 34px; 
  color: #fff;
  border-radius: 35%; 
  display: flex;
  justify-content: center;
  align-items: center;
}

/*Home icon*/
.return-home {
  display: flex;
  justify-content: center;
  align-items: center;
}

.home-icon {
  font-size: 24px; 
}

.store-brand {
  color: blue; 
  text-decoration: none; 
  font-size: 2em; 
  font-weight: bold; /* Set the font weight */
  /* Add any other styles you want */
}

.store-brand:hover {
  color: blue; /* Set the color of the text on hover */
}

.store-brand:active {
  color: red; /* Set the color of the text when active */
}

.store-brand:visited {
  color: blue; /* Set the color of the text when visited */
}
/* cool effect*/
.store-brand-link {
  text-decoration: none; 
  color: blue; 
   transition: transform 0.3s;
}

.store-brand-link:hover {
  transform: scale(1.05); /* Slightly enlarges the link on hover */
  text-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3); /* Adds a shadow to the text for a lifting effect */
}

.signup-link,
.login-link {
  text-decoration: none; /* Remove the underline from the link */
  margin: 0 10px; /* Add some margin around the links */
  transition: transform 0.3s;
}

.signup-text,
.login-text {
  color: blue; /* Set the text color to a dark shade */
  font-weight: bold; /* Make the text bold */
  cursor: pointer; /* Change cursor to pointer when hovered */
  transition: transform 0.3s;
}

.signup-text:hover,
.login-text:hover {
   transform: scale(1.05); /* Slightly enlarges the link on hover */
  text-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3); /* Adds a shadow to the text for a lifting effect */
  color: green; /* Change color to orange when hovered */
}

.logout-button {
  background-color: blue; 
  border: none; 
  padding: 3px 8px; /* Reduced padding to make the button smaller */
  margin-right: -20px; /* Negative margin to move the button to the right */
  cursor: pointer;
  color: white; 
  font-weight: bold; 
}


.logout-button:hover {
  background-color: #e07b00; 
}
