
.picture {
    border: 1px solid #e4e4e4;
    height: 200px;
    margin-bottom: 1.5rem;
    position: relative;
    overflow: hidden;
    transition: all 0.3s ease;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .row-align {
    box-shadow: 1px 1px 5px;
    padding: 1rem;
    border-radius: 0.5rem;
    transition: transform 0.3s;
  }

   .row-align:hover {
     transform: scale(1.1); /* Slightly enlarges the link on hover */
     text-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3); /* Adds a shadow to the text for a lifting effect */
  }

  .row-align .add-cart {
    opacity: 0;
    visibility: hidden;
     transform: translateX(100%); /* push it off the right edge */
    transition: opacity 0.3s ease, transform 0.3s ease; 
}

.row-align:hover .add-cart {
    opacity: 1;
    visibility: visible;
    transform: translateX(0)
}
  /*.picture-container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }*/
  
  .crop-picture {
    width: 200px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: transform 0.3s;
  }
  
   .crop-picture:hover {
     transform: scale(1.1); /* Slightly enlarges the link on hover */
     text-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3); /* Adds a shadow to the text for a lifting effect */
   }

  .burp {
    max-height: 160px;
    transition-duration: 300ms;
  }
  
  .group:hover .burp {
    transform: scale(1.10);
  }
  
  .add-cart {
    position: absolute;
    top: 0;
    right: 0;
    background-color: white;
    padding: 0.5rem; 
  }
  .add-cart:hover {
    position: absolute;
    top: 0;
    right: 0;
    background-color: white;
    padding: 0.5rem; 
  }

  button.plus-btn {/* add to cart*/
     width: 2rem;
    height: 2rem;
    display: flex;
    border-radius: 0;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    margin-bottom: 0.5rem;
    background-color: green;
    transition: background-color 0.3s ease; /* This will make the color transition smoother */
  }
  
  button.plus-btn:hover {
    background-color: lightgreen; /* This is the color the button will change to on hover */
  }
  
  .details { /* details button*/
    width: 2.5rem;
    height: 2rem;
    text-decoration: none;
    background-color: purple; /* updated color */
    border-radius: 0%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: black; /* updated color */
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.15);
    transition: background-color 0.3s ease; /* This will make the color transition smoother */
  }
  
  .details:hover {
    background-color: blue; /* hover effect color */
  }
  
  .title {/*font-semibold mb-1*/
    font-weight: 400;
    margin-bottom: 0.25rem;
    text-decoration: none;
  }

  .category { /* text-sm capitalize text-gray-500*/
    font-size: 0.875rem; /* text-sm: Small text size */
    text-transform: capitalize; /* capitalize: Capitalizes the first letter of each word */
    color: #718096; /* text-gray-500: Gray text color (based on Tailwind CSS gray palette) */
    margin-bottom: 0.25rem; /* mb-1: Small margin at the bottom (based on Tailwind CSS spacing scale) */
  }
  
  .price {
    font-weight: 600; /* semibold */
  }
  