.footer {
  background-color: black; /* bg-primary (assuming primary is black in your setup) */
  padding-top: 3rem; /* py-12 (padding-top and padding-bottom of 12 units, assuming 1 unit = 0.25rem) */
  padding-bottom: 3rem;
}

.container {
  max-width: 100%; /* mx-auto (centering the container by setting max width to 100% and using auto margin on both sides) */
  margin-right: auto;
  margin-left: auto;
}

.copyright {
  color: black; /* text-white */
  text-align: center; /* text-center */
}


.addToCartButton {
  cursor: pointer;
  background-color: #28a745;
  border: none;
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
  transition: background-color 0.3s, box-shadow 0.3s;

  &:hover {
    background-color: #218838;
  }
}

.Search {
  padding-top: 120px; /* Adds padding at the top to prevent it from being hidden by the fixed header */
}

.search-list {
  display: flex;
  flex-wrap: wrap;
  gap: 10px; /* Add space between items */
}

.search-list li {
  flex: 1 1 calc(33.333% - 10px); /* Allows for three items per row with some gap in between */
  display: flex;
  flex-direction: column;
  align-items: center; /* Center the content */
  box-sizing: border-box;
  padding: 10px; /* Add some padding inside each item */
}

.search-list li h2 {
  font-size: 14px; /* Reduce the font size to make it compact */
  margin: 5px 0; /* Add some margin to separate the title from the other content */
  text-align: center; /* Center the text */
  max-width: 150px; /* Limit the width to prevent it from taking up too much space */
}

.search-list li p {
  font-size: 12px; /* Reduce the font size to make it compact */
  margin: 5px 0; /* Add some margin to separate the text from the other content */
  text-align: center; /* Center the text */
  max-width: 150px; /* Limit the width to prevent it from taking up too much space */
}

.search-list li img {
  max-width: 100px; /* Limit the width of the image */
  max-height: 100px; /* Limit the height of the image */
  object-fit: contain; /* Ensure the image scales properly */
}
